# Ignorar imágenes dentro de debug
/debug/*.png
/debug/**/*.jpg

# Ignorar archivos de modelos (puedes ajustar si agregas más extensiones/modelos)
codes/models/*.onnx
codes/models/*.pth*

# Ignorar entorno y archivos de caché de Python
env/
*.pyc

# Ignorar archivos de Excel
*.xlsx

# Ignorar archivos de video
*.mov
*.mp4
